:root {
    --background-color-main: #f2f2f2;
    --font-color-heading-header: #1a202c;
    --font-color-description-header: #9EA3B0;
    --background-color-button-header: #1a202c;
    --background-color-button-carousel: #D8D8D8;
    --font-color-active: #192651;
    --font-color-inactive: #8492aa;
    --background-color-button-gallery: #D8D8D8;
};
