.move_left {
    transform: translateX(150%);
    animation: move_to_left 0.4s ease-in;
}

.move_right {
    transform: translateX(-150%);
    animation: move_to_right 0.4s ease-in;
}

@keyframes move_to_right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-150%);
    }
}

@keyframes move_to_left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(150%);
    }
}