.photo_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    max-width: 600px;
    height: 40vw;
    max-height: 300px;
    background-color: white;
    margin: 16px;
    padding: 10px;
    border: 2px rgb(218, 218, 218) groove;

    .photo_with_delete_icon {
        width: 30%;
        height: 40%;
        min-width: 30px;
        min-height: 30px;
        max-height: 150px;
        margin: 4px;

        .delete_photo {
            cursor: pointer;
            display: none;
            position: relative;
            bottom: 92%;
            left: 64%;
            width: 3vh;
            height: 3vh;
            border-radius: 50%;
            padding: 1px;
            border: 1px #999999 dotted;
            background-color: rgba($color: #000000, $alpha: 0.3);
            background-image: url("../assets/delete-button.svg");
            background-size: 2vh;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .photo_with_delete_icon:hover {
        .delete_photo {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
