@mixin flex_center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background_modal {
    @include flex_center;
    position: fixed;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.2);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    .modal {
        @include flex_center;
        width: 70%;
        min-height: 30%;
        height: fit-content;
        max-height: 80%;
        background-color: white;
    }
}